/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--white-color);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: 0;
    box-sizing: border-box;
}
:root {
    --blue-color: #0066ff;
    --white-color: #ffffff;
    --dark-color: #000000;
    --gray-color: #7d7c83;
    --lite-gray: #ededee;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Roboto Mono', monospace;
}
/* navbar */
.navbar-div{
    background-color: var(--white-color)
}
.nav-name{
    margin: 0;
    font-family: var(--primary-font);
    font-size: 25px;
    font-weight: 900;
    text-transform: capitalize;
    /* letter-spacing: 2px; */
    color: var(--blue-color);
}
.nav-items {
    position: relative;
    font-family: var(--secondary-font);
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    /* margin: 0 10px; */
    color: var(--blue-color)
}
.nav-items:hover{
    color: var(--gray-color);
}
.nav-items::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--gray-color);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.nav-items:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.hamburg-icon{
    color: var(--blue-color);
}
/* banner */
.banner-section{
    background-color: var(--white-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-contents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}
.banner-contents h1{
    font-size: 60px;
    font-weight: 900;
    color: var(--blue-color);
    font-family: var(--primary-font);
}
.banner-contents h3{
    padding-top: 20px;
    font-family: var(--primary-font);
    font-size: 40px;
    font-weight: 500;
    color: var(--dark-color);
}
.banner-contents h3 span{
    color: var(--blue-color);
}
.banner-contents h5{
    /* padding-top: 10px; */
    font-family: var(--secondary-font);
    color: var(--gray-color);
    font-size: 20px;
}
.banner-contents h5 span{
    color: var(--blue-color);
}