/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}
:root {
    --darkblue-color: #112D4E;
    --liteblue-color: #3F72AF;
    --lite-color: #DBE2EF;
    --white-color: #F9F7F7;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Roboto Mono', monospace;
}
body {
    background-color: var(--white-color);
}
/* navbar */
.navbar-div{
    background-color: var(--white-color)
}
.nav-name{
    margin: 0;
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: 900;
    text-transform: capitalize;
    /* letter-spacing: 2px; */
    color: var(--liteblue-color);
}
.nav-name:hover{
    color: var(--darkblue-color);
}
.nav-items {
    position: relative;
    font-size: 16px;
    font-family: var(--secondary-font);
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--liteblue-color)
}
.nav-items:hover{
    color: var(--darkblue-color);
}
.nav-items::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--darkblue-color);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.nav-items:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.hamburg-icon{
    color: var(--liteblue-color);
    font-size: 24px;
}

/* banner */
.banner-section{
    /* background-color: var(--lite-color); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-contents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}
.banner-head1{
    font-size: 60px;
    font-weight: 900;
    color: var(--liteblue-color);
    font-family: var(--primary-font);
}
.banner-head2{
    padding-top: 20px;
    font-size: 30px;
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--darkblue-color);
}
.banner-head3{
    font-size: 24px;
    text-align: center;
    font-family: var(--secondary-font);
    color: var(--darkblue-color);
}
.banner-head3 span{
    color: var(--liteblue-color);
}

/* about */
.main-heading-div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-heading-bg-text{
    font-size: 60px;
    font-weight: 900;
    font-family: var(--primary-font);
    text-transform: uppercase;
    color: var(--white-color);
    letter-spacing: 1px;
    -webkit-text-stroke: 1px var(--lite-color);
}
.main-heading-fg-text{
    position: absolute;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--liteblue-color);
}
.desc{
    font-size: 24px;
    font-family: var(--primary-font);
    color: var(--darkblue-color);
}
.sub-desc{
    font-size: 16px;
    font-family: var(--secondary-font);
    color: var(--darkblue-color);
}
.sub-desc span{
    color: var(--liteblue-color);
}
.quote{
    font-size: 16px;
    color: var(--darkblue-color);
    font-family: var(--primary-font);
}
.about-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-img-text{
    padding-top: 10px;
    font-size: 16px;
    font-family: var(--parimary-font);
    color: var(--darkblue-color);
}

/* education */
.head-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* cards */
.cards{
    margin-top: 20px;
}
.card-bg{
    padding: 20px;
}
.card-heads{
    color: var(--darkblue-color);
    font-size: 18px;
    font-family: var(--primary-font);
}
.card-titles{
    color: var(--liteblue-color);
    font-size: 18px;
    font-family: var(--secondary-font);
}
.card-subtitles{
    color: var(--liteblue-color);
    font-size: 16px;
    font-size: var(--parimary-font);
}

/* progressbar */
.progressbar-div{
    margin-top: 20px;
}
.progress-bar{
    background-color: var(--liteblue-color);
}

/* marquee items */
.marquee {
    --gap: 50px; /* Adjust the gap between items as needed */
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}
.marquee_content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
}
@keyframes marquee {
    100% { transform: translateX(0%); }
    0% { transform: translateX(-100%); }
}
.marquee_content {
    animation: marquee 20s linear infinite;
}
.marquee_content li{
    list-style-type: none;
}

/* project */
.badge-item{
    background-color: var(--lite-color);
    color: var(--liteblue-color);
}
.project-links{
    display: flex;
    justify-content: space-between;
}
.project-links a{
    text-decoration: none;
    color: var(--darkblue-color);
    font-family: var(--primary-font);
    text-transform: capitalize;
    font-size: 16px;
}
.project-links a:hover{
    color: var(--liteblue-color);
}
.view-all-projects{
    display: flex;
    justify-content: center;
}
.view-all-projects a span{
    color: var(--liteblue-color);
    background-color: var(--lite-color);
    font-family: var(--primary-font);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.view-all-projects a span:hover{
    background-color: var(--liteblue-color);
    color: var(--lite-color);
}

/* contact */
.contact-info p{
    font-size: 16px; 
    font-family: var(--parimary-font);
    font-weight: 500;
    color: var(--darkblue-color);
}
.mail-tel-link a{
    text-decoration: none;
    color: var(--darkblue-color);
}
.mail-tel-link a:hover{
    color: var(--liteblue-color);
}
.mail-text{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: var(--secondary-font);
    color: var(--liteblue-color);
}
.form-control {
    border-radius: 10px;
    border: none;
    background: var(--lite-color)
}
.form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: var(--gray-gray); 
}
.form-group input{
    color: var(--darkblue-color);
    font-family: var(--parimary-font);
    font-size: 16px;
}
.form-group textarea{
    color: var(--darkblue-color);
    font-family: var(--parimary-font);
    font-size: 16px;
}
::placeholder{
    color: var(--darkblue-color) !important;
    font-family: var(--secondary-font);
    font-size: 16px;
}
.msg-send{
    display: flex;
    justify-content: center;
}
.msg-send .send-btn{
    background-color: var(--lite-color);
    color: var(--liteblue-color);
    font-size: 16px;
    font-weight: 700;
    font-family: var(--parimary-font);
    width: 150px;
    height: auto;
    border-radius: 50px;
}
.msg-send .send-btn:hover{
    background-color: var(--darkblue-color);
    color: var(--lite-color);
}

/* footer */
.account-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-icons a{
    padding-right: 30px;
    font-size: 20px;
    color: var(--darkblue-color);
}
.account-icons a:hover{
    color: var(--liteblue-color);
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-text1{
    font-size: 18px;
    font-family: var(--secondary-font);
    color: var(--liteblue-color);
}
.footer-two{
    display: flex;
    justify-content: flex-end;
}
.footer-text2{
    font-size: 16px;
    color: var(--darkblue-color);
    font-family: var(--secondary-font);

}
/* Custom Media Query */
/* Small devices */
@media (max-width: 576px) {
    .banner-contents h1{
        font-size: 30px;
    }
    .banner-contents h3{
        font-size: 24px;
    }
    .banner-contents h5{
        font-size: 16px;
    }
}
/* Medium devices */
@media (max-width: 768px) {

}
/* Large devices */
@media (max-width: 992px) {

}
/* Extra large devices */
@media (max-width: 1200px) {

}
