/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

:root {
    --darkblue-color: #112D4E;
    --liteblue-color: #3F72AF;
    --lite-color: #DBE2EF;
    --white-color: #F9F7F7;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Roboto Mono', monospace;
}
.dark-theme{
    --darkblue-color: #DDE6ED;
    --liteblue-color: #9DB2BF;
    --lite-color: #526D82;
    --white-color: #27374D;
}

/* custom scrollbar */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: var(--lite-color);
}
::-webkit-scrollbar-thumb{
    background: var(--darkblue-color);
    border-radius: 10px;
}

body {
    background-color: var(--white-color);
}

/* custom cursor */
.cursor {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    z-index: 111;
    border: 1px solid var(--darkblue-color);
    transition: all 0.2s ease-out;
    animation: moveCursor1 .5s infinite alternate;
}
.expand {
    background: transparent;
    animation: moveCursor2 .5s forwards;
    border: 1px solid var(--darkblue-color);
}
@keyframes moveCursor1 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.8);
    }
}
@keyframes moveCursor2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* custom mouse select colour */
::selection {
    background-color: var(--lite-color);
    color: var(--liteblue-color);
}

/* navbar */
.navbar-div{
    background-color: var(--white-color);
}
.nav-name{
    margin: 0;
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: 900;
    text-transform: capitalize;
    color: var(--liteblue-color);
}
.nav-name:hover{
    color: var(--darkblue-color);
    text-shadow: 0px 0px 5px rgba(0, 128, 0, 1);
}
.nav-items {
    position: relative;
    font-size: 16px;
    font-family: var(--secondary-font);
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--liteblue-color)
}
.nav-items:hover{
    color: var(--darkblue-color);
}
.nav-items::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--darkblue-color);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.nav-items:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.hamburg-icon{
    color: var(--liteblue-color);
    font-size: 24px;
}

/* banner */
.banner-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.banner-contents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}
.banner-head1{
    padding-top: 120px;
    margin: 0;
    font-size: 60px;
    font-weight: 900;
    color: var(--liteblue-color);
    font-family: var(--primary-font);
    padding-bottom: 20px;
}
.banner-head2{
    margin: 0;
    font-size: 30px;
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--darkblue-color);
    padding-bottom: 10px;
}
.banner-head3{
    margin: 0;
    font-size: 24px;
    text-align: center;
    font-family: var(--secondary-font);
    color: var(--darkblue-color);
    margin-bottom: 60px;
}
.banner-head3 span{
    color: var(--liteblue-color);
}
.resume-btn{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--liteblue-color);
    background: var(--lite-color);
    padding: 12px 50px;
    border-radius: 50px;
    margin-bottom: 120px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.resume-btn:hover{
    text-decoration: none;
    background-color: var(--liteblue-color);
    color: var(--lite-color);
}

/* scroll btn */
.scroll-to-top{
    display: flex;
    justify-content: flex-end;
}
.scroll-btn{
    position: fixed;
    bottom: 16px;
    background-color: var(--lite-color);
    width: 40px;
    height: 40px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--liteblue-color);
    display: none;
    cursor: pointer;
}
.scroll-btn:hover{
    background-color: var(--darkblue-color);
    color: var(--lite-color);
}

/* change theme */
.theme-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.theme-head h6{
    margin: 0;
}
.theme-head{
    margin: 0;
    display: flex;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: var(--secondary-font);
    color: var(--darkblue-color);
}
.theme-head p{
    margin: 0;
    transition: all 0.3s linear;
}
.theme-head p:hover{
    transform: scale(1.5);
}
.theme-section p{
    margin: 0;
}
.theme-desc{
    font-size: 14px;
    font-family: var(--parimary-font);
    color: var(--lite-color);
}

/* main headings */
.main-heading-div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-heading-bg-text{
    margin: 0;
    font-size: 60px;
    font-weight: 900;
    font-family: var(--primary-font);
    text-transform: uppercase;
    color: var(--white-color);
    letter-spacing: 1px;
    -webkit-text-stroke: 1px var(--lite-color);
    text-shadow: 0px 0px 5px rgba(149, 157, 165, 0.2);
}
.main-heading-bg-text:hover{
    text-shadow: 0px 0px 25px rgba(149, 157, 165, 0.5);
}
.main-heading-fg-text{
    margin: 0;
    position: absolute;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--liteblue-color);
}

/* about */
.about-section{
    padding-bottom: 20px;
}
.about-section2{
    padding-bottom: 80px;
}
.about-desc{
    padding-top: 20px;
}
.desc{
    margin: 0;
    font-size: 24px;
    font-family: var(--primary-font);
    color: var(--darkblue-color);
    padding-bottom: 20px;
}
.sub-desc{
    margin: 0;
    font-size: 16px;
    font-family: var(--secondary-font);
    color: var(--darkblue-color);
    padding-bottom: 20px;
}
.sub-desc span{
    color: var(--liteblue-color);
}
.quote{
    margin: 0;
    font-size: 16px;
    color: var(--darkblue-color);
    font-family: var(--primary-font);
}
.about-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width: 50%;
    height: auto;
    border-radius: 20px;
}
.about-img-text{
    margin: 0;
    padding-top: 10px;
    font-size: 16px;
    font-family: var(--parimary-font);
    color: var(--darkblue-color);
}

/* more info */
.more-info-items{
    display: none;
}
.more-info-btn:hover{
    color: var(--darkblue-color);
    font-weight: bold;
    cursor: pointer;
}

/* education */
.education-section{
    padding-bottom: 40px;
}
.head-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* cards */
.cards{
    padding: 20px;
    margin: 10px 0px;
}
.cards:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-heads{
    color: var(--darkblue-color);
    font-size: 18px;
    font-family: var(--primary-font);
}
.card-titles{
    color: var(--liteblue-color);
    font-size: 18px;
    font-family: var(--secondary-font);
}
.card-subtitles{
    color: var(--liteblue-color);
    font-size: 16px;
    font-family: var(--parimary-font);
}

/* progressbar */
.progress-bar-section{
    padding-bottom: 40px;
}
.progressbar-div{
    padding-bottom: 20px;
}
.progress-bar{
    background-color: var(--liteblue-color);
    color: var(--lite-color);
}
.progress-bar-title{
    color: var(--darkblue-color);
    font-size: 16px;
    font-family: var(--secondary-font);
}

/* marquee elements */
.marquee-section{
    padding-bottom: 60px;
}
@keyframes marquee-animation {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
.marquee{
    overflow: hidden;
    white-space: nowrap;
}
.marquee:hover .marquee-items{
    animation-play-state: paused;
}
.marquee-items{
    display: inline-block;
    animation: 30s marquee-animation infinite linear;
}
.marquee-items img{
    height: 30px;
    width: 30px;
    margin: 0 40px;
}

/* experience */
.experience-section{
    padding-bottom: 40px;
}

/* project */
.project-section{
    padding-bottom: 80px;
}
.badge-item{
    background-color: var(--lite-color);
    color: var(--liteblue-color);
}
.project-links{
    display: flex;
    justify-content: space-between;
}
.project-links a{
    text-decoration: none;
    color: var(--darkblue-color);
    font-family: var(--primary-font);
    text-transform: capitalize;
    font-size: 16px;
}
.project-links a:hover{
    color: var(--liteblue-color);
}
.view-all-projects{
    display: flex;
    justify-content: center;
}
.view-all-projects a span{
    color: var(--liteblue-color);
    background-color: var(--lite-color);
    font-family: var(--primary-font);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 10px 20px;
}
.view-all-projects a span:hover{
    background-color: var(--darkblue-color);
    color: var(--lite-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* contact */
.contact-section{
    padding-bottom: 40px;
}
.contact-info{
    padding-top: 20px;
}
.contact-info p{
    margin: 0;
    padding-bottom: 20px;
    font-size: 16px; 
    font-family: var(--parimary-font);
    font-weight: 500;
    color: var(--darkblue-color);
}
.mail-tel-link a{
    text-decoration: none;
    color: var(--darkblue-color);
}
.mail-tel-link a:hover{
    color: var(--liteblue-color);
}
.mail-text{
    margin: 0;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: var(--secondary-font);
    color: var(--liteblue-color);
}
.form-control {
    border-radius: 10px;
    border: none;
    background: var(--lite-color)
}
.form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: var(--lite-color);
    color: var(--darkblue-color); 
    font-family: var(--parimary-font);
    font-size: 16px;
}
.form-group{
    margin: 0;
    padding-bottom: 20px;
}
.form-group input{
    color: var(--darkblue-color);
    font-family: var(--parimary-font);
    font-size: 16px;
}
.form-group textarea{
    height: 120px;
    color: var(--darkblue-color);
    font-family: var(--parimary-font);
    font-size: 16px;
}
::placeholder{
    color: var(--darkblue-color) !important;
    font-family: var(--secondary-font);
    font-size: 16px;
}
.msg-send{
    margin: 0;
    display: flex;
    justify-content: center;
}
.send-btn{
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: var(--primary-font);
    color: var(--liteblue-color);
    background: var(--lite-color);
    padding: 12px 50px;
    border-radius: 50px;
    border: none;
}
.send-btn:hover{
    background-color: var(--darkblue-color);
    color: var(--lite-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.contact-msg p{
    margin: 0;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 300;
    color: var(--darkblue-color);
}

/* footer */
.account-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.account-icons a{
    margin: 0 25px;
    font-size: 20px;
    color: var(--darkblue-color);
    transition: all 0.3s linear;
}
.account-icons a:hover{
    color: var(--liteblue-color);
    transform: scale(1.5);
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-text1{
    margin: 0;
    padding-bottom: 20px;
    font-size: 18px;
    font-family: var(--secondary-font);
    color: var(--liteblue-color);
}
.footer-two{
    display: flex;
    justify-content: flex-end;
}
.footer-text2{
    margin: 0;
    display: flex;
    margin: 0;
    padding-bottom: 20px;
    font-size: 16px;
    color: var(--darkblue-color);
    font-family: var(--secondary-font);
}

/* heart beat animation */
@keyframes heartbeat {
    0%{
    transform: scale(1);
    color: var(--darkblue-color);
    }
    50%{
    transform: scale(1.2);
    color: red;
    }
    100%{
    transform: scale(1);
    color: var(--darkblue-color);
    }
}
.footer-text2 p{
    animation: heartbeat 1s infinite;
}

/* preloader */
#content{
    display: none;
}
#loader{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loader img{
    height: 250px;
    width: auto;
}
.loading-txt{
    font-family: var(--secondary-font);
    font-size: 18px;
    text-transform: lowercase;
    font-weight: 500;
}

/* heart beat animation2 */
@keyframes heartbeat2 {
    0%{
    transform: scale(1);
    color: var(--darkblue-color);
    }
    50%{
    transform: scale(1.2);
    color: var(--lite-color);
    }
    100%{
    transform: scale(1);
    color: var(--darkblue-color);
    }
}
.loading-txt{
    animation: heartbeat2 1s infinite;
}

/* Custom Media Query */
/* Small devices */
@media (max-width: 576px) {
    .banner-head1{
        font-size: 30px;
    }
    .banner-head2{
        font-size: 24px;
    }
    .banner-head3{
        font-size: 16px;
    }
    .head-text{
        padding-bottom: 20px;
    }
    .about-img img{
        padding-top: 20px;
    }
}
/* Medium devices */
@media (max-width: 768px) {
    .head-text{
        padding-bottom: 20px;
    }
    .about-img img{
        padding-top: 20px;
    }
}
/* Large devices */
@media (max-width: 992px) {
    .head-text{
        padding-bottom: 20px;
    }
    .about-img img{
        padding-top: 20px;
    }
}
/* Extra large devices */
@media (max-width: 1200px) {

}